<h1>hello from the edit page</h1>
<p><%=@recipe.name%></p>
<p><%=@recipe.ingredients%></p>
<p><%=@recipe.cook_time%></p>

<form action="/recipes/<%=@recipe.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Name: <input type="text" name="name" id="name">
    Ingredients: <input type="text" name="ingredients" id="ingredients">
    Cook Time: <input type="text" name="cook_time" id="cook_time">
    <input type="submit" value="submit">
</form>